* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(207, 200, 200);
  line-height: 1.5;
  font-family: cursive;
}

h1,
h2,
h5 {
  margin: 0;
}

header {
  padding: 3% 4% 3% 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #414181c0;
  flex-wrap: wrap;
}

header h1 {
  background-color: #fd9827;
  font-size: 5em;
  margin: 1% 1% 1%;
  color: rgb(13, 10, 177);
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

nav a {
  text-decoration: none;
  padding: 10px 15px;
  color: #fd9827;
  font-size: 1.3em;
  margin-right: 15px;
  background-image: linear-gradient(270deg, #fd9827 0%, #fd9827 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
}

nav a:hover {
  color: rgb(13, 10, 177);
  background-size: 100% 100%;
  line-height: 5;
  font-weight: bold;
}

.subtitle {
  background-color: #1d13dfd5;
  min-height: 25vh;
  display: flex;
  justify-content: space-evenly;
  margin: 0 0 1%;
  padding: 2% 7%;
  flex-wrap: wrap;
}

.subtitle h2 {
  color: #fd9827;
  font-size: 4vw;
  line-height: 2;
  display: inline;
}

.subtitle img {
  display: block;
  margin-left: auto;
  margin-right: 10px;
  width: 300px;
}

main {
  max-width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.pages {
  padding: 0.8% 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pages p {
  margin-bottom: 10px;
  color: rgb(13, 10, 177);
  font-size: 120%;
}

.pages h2 {
  flex: 0 0 20%;
  text-align: right;
  padding-right: 2.5%;
  border-right: 10px double #fd9827;
  line-height: 1.1;
  font-size: 3.75vw;
  color: #1d13dfd5;
}

.pages > div {
  flex: 0 0 78%;
}

.flex-boxes {
  display: flex;
  flex-wrap: wrap;
}

.link {
  min-height: 200px;
  max-height: 200px;
  flex-basis: calc(50% - 1em);
  display: flex;
  align-items: flex-end;
  margin: 0.5em;
  text-decoration: none;
  background-size: cover;
  transition: all 0.75s;
  border: 15px solid #1d13dfd5;
  background-color: rgba(217, 220, 224, 0.568);
  background-blend-mode: screen;
}

.link div {
  background-color: #1d13dfd5;
  padding: 0.8% 1%;
  margin: 10px;
  font-size: 1.5em;
  color: #fd9827;
}

.link span {
  font-size: 0.75em;
}

.link:hover {
  border: 15px solid rgb(9, 255, 0);
  background-color: rgba(40, 20, 223, 0.938);
}

.box-one {
  background-image: url("../images/screenshot.png");
  background-color: unset;
  min-height: 400px;
  flex-basis: 100%;
}

.box-two {
  background-image: url("../images/quiz-screenshot.png");
  background-color: unset;
}

.box-three {
  background-image: url("../images/Planner-ss.png");
  background-color: unset;
}

.box-four {
  background-image: url("../images/screenshot-pw.png");
  background-color: unset;
}

.box-five {
  background-image: url("../images/coding-4.jpg");
  background-color: unset;
}

address {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

address a {
  text-decoration: none;
  padding: 7px;
  color: rgb(13, 10, 177);
  font-size: 1.5em;
  background-image: linear-gradient(270deg, #0e0ef3b7 0%, #0e0ef3b7 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
  transition: all 0.3s ease-in;
}

address a:hover {
  color: #fd9827;
  background-size: 100% 100%;
  font-weight: bold;
}

@media screen and (max-width: 980px) {
  header {
    padding: 0 0 10px 0;
    justify-content: center;
    text-align: center;
  }

  header h1 {
    width: 100%;
    padding: 10px;
    font-size: 6vw;
    margin-bottom: 10px;
  }

  header nav {
    justify-content: center;
  }

  .pages h2,
  .pages div {
    flex: 0 0 100%;
  }

  .subtitle div {
    justify-content: center;
    text-align: center;
    font-size: 3vw;
    flex-direction: column;
  }

  .pages h2 {
    border-right: none;
    border-bottom: 5px solid #fd9827;
    margin-bottom: 25px;
    padding-bottom: 15px;
    text-align: left;
    font-size: 7vw;
  }
}

@media screen and (max-width: 768px) {
  .link {
    flex-basis: 100%;
  }

  .box-one {
    min-height: 200px;
  }

  .subtitle {
    justify-content: center;
    text-align: center;
  }

  .contact address {
    flex-direction: column;
    align-items: flex-start;
  }
}
