h1,
h2 {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(207, 211, 212);
    line-height: 1.5;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #39393bc0;
    font-family: monospace;
}

header h1 {
    background-color: orange;
    font-size: 4vw;
    line-height: 1.5;
    margin: 1% 0 1%;
    color: rgb(13, 10, 177);
}

nav {
    display: flex;
    flex-direction: wrap-reverse;
    flex-wrap: wrap;
}    

nav a {
    text-decoration: none;
    padding: 5px 15px;
    color: orange;
    font-size: 1.4rem;
    margin-right: 15px;
    background-image: linear-gradient(270deg, orange 0%, orange 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: top;
    transition: all 0.25s ease-in-out;
}

nav a:hover {
    color: rgb(13, 10, 177);
    background-size: 100% 100%;
    line-height: 3;
    font-weight: bold;
}    

.subtitle {
    background-color: #0808e771;
    background-image: url("https://www.transparenttextures.com/patterns/subtle-zebra-3d.png");
    min-height: 25vh;
    display: flex;
    justify-content: flex-start;
    font-size: 2em;
    margin: 0 0 1%;
    padding: 2% 7%
}

.subtitle h2 {
    color: rgb(13, 10, 177);
    background-color: rgba(255, 166, 0, 0.651);  
    font-size: 2.5rem;
    line-height: 1.5;
    display: inline;
    font-family: monospace;   
}
